.element {
    &::selection {
        color: white;
        background-color: black;
    }

    &::-moz-selection {
        color: white;
        background-color: black;
    }
}

//Or directly if you want to apply it globally
::selection {
    color: white;
    background-color: black;
}

::-moz-selection {
    color: white;
    background-color: black;
}